/* General CSS */

body {
  background-image: linear-gradient(LightGrey,SkyBlue,rgb(205,165,243));
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 75px;
}

.card {
  border-radius: 15px;
  padding: 15px;
}

.card-img {
  max-height: 600px;
  max-width: 500px;
  width: auto;
  border-radius: 30px;
  padding: 15px;
}

.card-header {
  /*background-image: url("texture1.jpg");
  margin: none;
  */
}

.card.back {
  /*background-image: url("texture1.jpg");*/
  background-image: linear-gradient(White,rgb(205,165,243));  
  color: #122937;
}

.card.weather{
  background:none;
  outline-style: ridge;

}

.card.cform {
  /*background-image: url("tiles.jpg"); */
  /*background-image: linear-gradient(White,rgb(205,165,243));*/
  background: White;
  background-repeat:round;
  color: #122937;
  border-radius: 15px;
}

.card.c2form {
  /*background-image: url("tiles.jpg"); */
  /*background-image: linear-gradient(rgb(205,165,243),LightSalmon,rgb(255,163,51));*/
  background-repeat:no-repeat;
  color: #122937;
  border-radius: 15px;
}

.jumbotron{
  background-size:100%;
  border-radius: 15px;
  background: none;
}

.jumbotron.jhead {
  background-image: linear-gradient(rgb(205,165,243),LightSalmon,rgb(255,163,51));
  /*background-image: url("sunrise3.png"); */
  color: #122937;
  border-radius: 15px;
}

.jumbotron.reddit {
  padding: 1px
}

/* Gif somtimes overlaps need to fix*/
.img {
  height: auto;
  width: auto;
  margin: auto;
  border-radius: 15px;
  padding: 15px;
  max-height: 500px;
  max-width: 500px;
}

.navbar {
  margin: 0px;
  background:none; 
 /* background-image: linear-gradient(to right,Yellow,Orange,Plum,SkyBlue,White); */
 /* background-image: linear-gradient(to right,White,SkyBlue,Yellow,SkyBlue,White); */
  color: DodgerBlue;
  font-size:20px;
}

.navbar-brand {
  font-size:25px;
  color: #122937;
  font-weight: 1000;
}

 /* The Overlay (background) */
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,.8);
}

.overlay-content {
  margin: auto;
  width: 80%;
  padding: 10px;
  max-height: 100%;
  overflow: scroll;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay.closebtn {
  position: absolute;
  top: 10px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/* Masonry Grid */
.masonry-with-columns {
  columns: 6 500px;
  column-gap: 1rem;
  div {
    width: 150px;
    color: black;
    margin: 0 1rem 1rem 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: system-ui;
    font-weight: 900;
    font-size: 2rem;
  } 
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  text-align: center;
}

/* Modal Content/Box */
.modal-content {
  background-image: linear-gradient(White,SkyBlue);
  text-align: center; 
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  color: #122937;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}