body {
  /* background: linear-gradient(0deg,#FEC36F 0%, #7890A5 100%) fixed; */
  background-image: url("clouds.jpg");
  background-repeat: no-repeat;
  background-size: 200%;
  font-family: 'Karla', sans-serif;
}

.navbar {
  background: none;
  border-bottom: 3px solid black;
}

.navbar-brand {
  font-family: 'Rubik Mono One', sans-serif;
}

#user {
  margin-right: 1em;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.form-group {
  font-size: 1.2em;
}

.card-header {
  font-size: 3rem;
  font-weight: bold;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: #212121;
  color: white;
  border: none;
}

.sub {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 0.7rem;
}

.alarm-icon {
  padding-bottom: 0.1em;
  padding-right: 0.2em;
}

.card {
  margin-top: 1rem;
  margin-bottom: 1rem;
}